[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "COVIDIBGE"]
	path = COVIDIBGE
	url = https://github.com/gabriel-assuncao/covidibge
[submodule "PNADcIBGE"]
	path = PNADcIBGE
	url = https://github.com/gabriel-assuncao/pnadcibge
[submodule "PNSIBGE"]
	path = PNSIBGE
	url = https://github.com/gabriel-assuncao/pnsibge
[submodule "SIPDIBGE"]
	path = SIPDIBGE
	url = https://github.com/gabriel-assuncao/sipdibge
